:root {
  --txt-black: #000;
  --txt-white: #fff;
  --bg-dark: #2d3142;
  --bg-gray: #d8d5db;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 1.25em;
}

body {
  font-family: "Arial";
  height: 100%;
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
}

.main-nav {
  grid-area: nav;
}

.main-head {
  background-color: var(--bg-dark);
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  font-weight: 100;
}

.content {
  background-color: var(--bg-gray);
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-first {
  margin-bottom: 1rem;
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  color: #fff;
  background-color: var(--bg-dark);
  grid-area: footer;
}

.main {
  height: 100vh;
  display: grid;

  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

@media (min-width: 500px) {
  .main {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "content nav"
      "footer footer";
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .main {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "content content nav"
      "content content nav"
      "footer footer  footer";
  }

  nav ul {
    flex-direction: column;
  }
}
